doctype html
html
  head
    title INYMO - Project Tracker
    // Fuente
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap')
    // 👇 ESTA LÍNEA ES LA CLAVE. Fíjate que diga /stylesheets/style.css
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Animaciones
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')
  body
    block content

    // Scripts de animación
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
      AOS.init();